<!---->
<section class="login">
   <div class="container">
      <div class="row">
         <!---->
         <div class="col-md-7 col-sm-6">
            <div class="loginDesc">
               <div class="loginDescInner">
                  <label>Welcome to</label>
                  <h1>BEC <span>Engineering</span></h1>
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                     classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
                     professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
                     consectetur.</p>
               </div>
            </div>
         </div>
         <div class="col-md-5 col-sm-6">
            <!---->


            <div class="loginForm">
               <div class="loginFormInner">
                  <div class="loginLogo"><img src="assets/images/logo.png" alt="image" title="Logo" /></div>
                  <div class="col-sm-12" *ngIf="successPage">
                     <p><b>Now you can login with a new password</b></p>
                     <a [routerLink]="['/login']">Back</a>
                  </div>
                  <div *ngIf="showEmailForm">
                     <h2>Forgot Password</h2>
                     <p>Enter Your Email</p>
                     <p>We will send you a verification code</p>
                  </div>
                  <p *ngIf="showCodeForm">Please check your email, we have sent you a verification code</p>
                  <p *ngIf="showChangePasswordForm">Reset Your Password</p>

                  <div [ngClass]="messageObject.class" *ngIf="messageObject">
                     {{messageObject.message}}
                  </div>

                  <form #emailForm="ngForm" (ngSubmit)="emailForm.valid && sendForgotPasswordEmail()"
                     *ngIf="showEmailForm">

                     <div class="row">
                        <div class="col-sm-12">
                           <div class="logForm"
                              [class.has-error]="(emailControl.touched || emailForm.submitted)&& emailControl.invalid">
                              <h3><i class="fa fa-user" aria-hidden="true"></i>Email</h3>
                              <input type="text" class="form-control" placeholder="Email" name="email" required email
                                 [(ngModel)]="forgotPasswordModel.email" #emailControl="ngModel" />
                              <span class="help-block" *ngIf="emailControl.errors?.required">Email is required</span>
                              <span class="help-block" *ngIf="emailControl.errors?.email">Email is invalid</span>
                           </div>
                        </div>
                        <div class="col-sm-12">
                           <div class="loginBtn text-left">
                              <button type="submit" class="btn btn-blue logBtn" [disabled]="loading">
                                 <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i> Next
                              </button>
                           </div>
                        </div>
                     </div>

                  </form>

                  <form #codeForm="ngForm" *ngIf="showCodeForm" (ngSubmit)="codeForm.valid && verifyCode()">


                     <div class="row">
                        <div class="col-sm-12">
                           <div class="logForm"
                              [class.has-error]="(codeControl.touched || codeForm.submitted) && codeControl.invalid">
                              <input type="text" class="form-control" placeholder="Enter code here" name="code" required
                                 [(ngModel)]="forgotPasswordModel.resetToken" #codeControl="ngModel" />
                              <span class="help-block">Code is required</span>
                           </div>
                        </div>
                        <div class="col-sm-12">
                           <div class="loginBtn text-left">
                              <button type="submit" class="btn btn-blue logBtn" [disabled]="loading">
                                 <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
                                 Next</button>
                              <a class="pull-right" href="Javascript:void(0)" (click)="sendForgotPasswordEmail()">Resend
                                 Code</a>
                           </div>
                        </div>
                     </div>
                  </form>


                  <form #setpassword *ngIf="showChangePasswordForm" (ngSubmit)="resetPassword()">

                     <div class="row">
                        <div class="col-sm-12">
                           <div class="logForm"
                              [class.has-error]="(passwordControl.touched||passwordControl.submitted)&& passwordControl.invalid">
                              <h3><i class="fa fa-user" aria-hidden="true"></i>New Password</h3>
                              <input required type="password" id="password" class="form-control" minlength="8"
                                 placeholder="New Password" name="password" [(ngModel)]="forgotPasswordModel.password"
                                 #passwordControl="ngModel" />
                              <span class="help-block">Password is required</span>
                              <span class="help-block" *ngIf="passwordControl.errors?.minlength">Password must be
                                 atleast 8 characters
                              </span>
                           </div>
                        </div>
                        <div class="col-sm-12">
                           <div class="logForm"
                              [class.has-error]="(cpasswordControl.touched||setpassword.submitted)&& cpasswordControl.invalid">
                              <h3><i class="fa fa-user" aria-hidden="true"></i>Confirm Password</h3>
                              <input required type="password" class="form-control" placeholder="Confirm Password"
                                 name="cpassword" appConfirmEqualValidator="password"
                                 [(ngModel)]="forgotPasswordModel.cpassword" #cpasswordControl="ngModel" />
                              <span class="help-block"
                                 *ngIf="cpasswordControl.touched && cpasswordControl.errors?.notEqual">
                                 Password and Confirm Password does not match
                              </span>
                           </div>
                        </div>
                        <div class="col-sm-12">
                           <div class="loginBtn text-left"><button type="submit" class="btn btn-blue logBtn"
                                 [disabled]="loading"><i class="fa fa-spin fa-circle-o-notch"
                                    *ngIf="loading"></i>Update</button>
                           </div>
                        </div>

                     </div>
                  </form>

               </div>
            </div>
         </div>
         <!---->
      </div>
   </div>
</section>