<div *ngIf="loading">
   <app-loading-screen></app-loading-screen>
</div>
<div class="br-mainpanel" style="position: relative;">
   <div id="targetId" class="br-pagebody">
      <div id="targetId" class="row row-sm">
         <!---->
         <div class="machineBgBreadcrumb">
            <ol class="breadcrumb">
               <li class="breadcrumb-item" aria-current="page">Clients</li>
            </ol>
         </div>
         <!---->
         <div class="machineBg">
            <form id="clientForm" #clientForm="ngForm" (ngSubmit)="clientForm.valid && saveClientData(clientForm);"
               novalidate>
               <!---->
               <div class="clientBox">
                  <div class="clientBoxInner">
                     <div class="row">
                        <!---->

                        <div class="col-sm-6">
                           <div class="clientForm">
                              <label>Type</label>
                              <globalcode-dropdown className="form-control" placeholder="Type" name="clienttype"
                                 [(ngModel)]="clientDataForm.Type" categoryName="Client Type" #ctype="ngModel"
                                 [value]="clientDataForm.Type" required></globalcode-dropdown>
                              <div *ngIf="clientForm.submitted  && !ctype.valid" class="error">{{
                                 validationMessage.Type.required }}</div>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="clientForm">
                              <label>Client Name <sup>*</sup></label>
                              <input type="text" class="form-control" placeholder=" Client Name" name="Name"
                                 [(ngModel)]="clientDataForm.Name" #Name="ngModel" required />
                              <div *ngIf="clientForm.submitted && !Name.valid " class="error">
                                 {{validationMessage.Name.required}}</div>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="clientForm">
                              <label>Email Id <sup>*</sup></label>
                              <input class="form-control" placeholder="Email Id" name="Email" type="email"
                                 pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="clientDataForm.Email"
                                 #Email="ngModel" [email]="Email !== ''" required />
                              <div
                                 *ngIf="Email.errors && (clientForm.submitted || Email.touched || Email.errors?.pattern)"
                                 class="error">
                                 {{validationMessage.Email.email}}</div>
                              <!-- <div *ngIf="Email.errors?.pattern" class="error">
                                    {{validationMessage.Email.email}}</div>  -->

                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="clientForm">
                              <label>Password <sup>*</sup></label>
                              <input type="text" class="form-control" placeholder="Password" name="Password"
                                 [(ngModel)]="clientDataForm.Password" #Password="ngModel" required />
                              <div *ngIf="clientForm.submitted && Password.errors?.required " class="error">
                                 {{validationMessage.Password.required}}</div>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="clientForm">
                              <label>Phone No.</label>
                              <input type="text" class="form-control" placeholder="Phone No." name="PhoneNumber"
                                 [(ngModel)]="clientDataForm.PhoneNumber" #PhoneNumber="ngModel" minlength="10"
                                 maxlength="10" inputmode="numeric" pattern="[0-9]*" digitOnly />
                              <div *ngIf="clientForm.submitted && PhoneNumber.errors?.maxlength " class="error">
                                 {{validationMessage.PhoneNumber.maxlength}}</div>
                              <div *ngIf="clientForm.submitted && PhoneNumber.errors?.minlength " class="error">
                                 {{validationMessage.PhoneNumber.minlength}}</div>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="clientForm">
                              <label>City</label>
                              <globalcode-dropdown [value]="clientDataForm.State" className="form-control"
                                 placeholder="City" name="City" [(ngModel)]="clientDataForm.State" categoryName="States"
                                 #State="ngModel">
                              </globalcode-dropdown>

                           </div>
                        </div>
                        <div class="col-sm-12">
                           <div class="clientForm">
                              <label>Address</label>
                              <textarea class="form-control" placeholder="Address" name="Address"
                                 [(ngModel)]="clientDataForm.Address" #Address="ngModel"></textarea>

                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="clientForm">
                              <span class="checkActive">Active</span> <label class="checkbox"><input type="checkbox"
                                    name="IsActive" [(ngModel)]="clientDataForm.IsActive" /><span
                                    class="primary"></span></label>
                           </div>
                        </div>

                        <div class="col-sm-6">
                           <div class="clientForm rgt">
                              <button type="button" class="btn btn-blue-light lightBlueBtn"
                                 (click)="onCancel(clientForm)">Cancel</button>&nbsp;
                              <button type="submit" class="btn btn-blue-light lightBlueBtn">Save</button>
                           </div>
                        </div>
                        <!---->
                     </div>
                  </div>
               </div>
               <!---->
            </form>

            <div class="hr"></div>
            <!---->
            <div class="clientTypeSearch">
               <input class="form-control" [(ngModel)]="searchText" type="text" placeholder="Enter text to search"
                  aria-label="Search">
            </div>
            <!---->
            <div class="clientTypeTable">
               <div class="table-responsive">
                  <table class="table table-bordered">
                     <thead>
                        <tr>
                           <th><a (click)="Sorting('Type')">Type</a></th>
                           <th><a (click)="Sorting('Name')">Client Name</a></th>
                           <!-- <th><a (click)="Sorting('LastName')">Last Name</a></th> -->
                           <th><a (click)="Sorting('Email')">Email Id</a></th>
                           <th><a (click)="Sorting('CreatedOn')">Created On</a></th>
                           <th class="text-center"><a (click)="Sorting('IsActive')">Active</a></th>
                           <th class="text-center">Actions</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr
                           *ngIf="(clientData | search: {TypeName: searchText,Name :searchText,Email:searchText}) ?.length == 0">
                           <!-- <tr> -->
                           <td colspan="6" class="text-center">No record found</td>
                        </tr>

                        <tr
                           *ngFor="let client of clientData | search: {TypeName: searchText,Name :searchText,Email:searchText};">

                           <td>{{client.TypeName}}</td>
                           <td>{{client.Name}}</td>
                           <!-- <td>{{client.LastName}}</td> -->
                           <td>{{client.Email}}</td>
                           <td>{{client.CreatedOn | date: 'dd/MM/yyyy'}}</td>
                           <td align="middle"><a (click)="updateClientStatus(client.ClientId,client.IsActive)"
                                 [attr.title]="client.IsActive? 'Active' : 'In Active'" aria-hidden="true">
                                 <i class="fa fa-check green"
                                    [ngClass]="client.IsActive? 'fa fa-check green' : 'fa fa-times red'"></i>
                              </a></td>
                           <td align="middle">
                              <div class="edit"><a title="Edit" (click)="bindClientData(client)"><i
                                       class="fa fa-pencil black" aria-hidden="true"></i></a></div>
                              <div class="cross"><a title="Delete" (click)="deleteClientData(client.ClientId)"><i
                                       class="fa fa-trash red" aria-hidden="true"></i></a></div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <tr *ngIf="allItems > 10 && (searchText == null || searchText =='')">
                  <td>
                     <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                           <a class="page-link" (click)="getPage(1)">First</a>
                        </li>
                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                           <a class="page-link" (click)="getPage(pager.currentPage - 1)">Previous</a>
                        </li>
                        <li class="page-item" *ngFor="let page of pager.pages"
                           [ngClass]="{active:pager.currentPage === page}">
                           <a class="page-link" (click)="getPage(page)">{{page}}</a>
                        </li>
                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                           <a class="page-link" (click)="getPage(pager.currentPage + 1)">Next</a>
                        </li>
                        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                           <a class="page-link" (click)="getPage(pager.totalPages)">Last</a>
                        </li>
                     </ul>
                  </td>
               </tr>
            </div>
            <!---->
         </div>
         <!---->
      </div>
   </div>
</div>