.container{
	// padding-left: 50px;
	padding-top: 50px;
	text-align: center;
	}
	th.heading {
	background-color: #d8f1fd;
	color: black;
	}
	th.left{
	text-align:center;
	}
	.btn{
	float: right;
	margin: 0 0 5px 0;
	}
	
	.timetable{
	border-color: #d8f1fd;
	margin: 0px;
	width: 100%;
	font-size: 18px;
	}
	th.lunch{
	background-color: #d8f1fd;
	color:black;
	}
	input.time {
	text-align: center;
	}
	table{
color: black;
	}