
<div class="br-pagebody">
   <div class="row row-sm">
     
      <div class="machineBg">
         <!---->
         <div class="machineBox">
            <div class="machineBoxInner">
               <div class="row">
                  <!---->
                  <div class="col-sm-4">
               
                     <div class="machineForm">
                        <label><b>Part :</b></label>&nbsp;

                        <label> {{PartName}}</label>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="machineForm">
                        <label><b>Sub Part :</b></label>&nbsp;
                        <label> {{SubPartName}}</label>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="machineForm">
                        <label><b>Stock Code :</b></label>&nbsp;
                        <label> {{StockCode}}</label>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="machineForm">
                        <label><b>Stock Name :</b></label>&nbsp;
                        <label> {{StockName}}</label>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="machineForm">
                        <label><b>Stock Type :</b></label>&nbsp;
                        <label> {{StockType}}</label>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="machineForm">
                        <label><b>Unit Type :</b></label>&nbsp;
                        <label> {{UnitType}}</label>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="machineForm">
                        <label><b>SKU :</b></label>&nbsp;
                        <label> {{Sku}}</label>
                     </div>
                  </div>
                 
                  <div class="col-sm-4">
                     <div class="machineForm">
                        <label><b>Reorder Point :</b></label>&nbsp;
                        <label> {{ReOrderPoint}}</label>
                     </div>
                  </div>

                  <div class="col-sm-4">
                     <div class="machineForm">
                        <label><b>Quantity :</b></label>&nbsp;
                        <label> {{Quantity}}</label>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="machineForm">
                        <label><b>CreatedOn :</b></label>&nbsp;
                        <label> {{CreatedOn  | date: 'dd/MM/yyyy'}}</label>
                     </div>
                  </div>

                  <div class="col-sm-4">
                     <div class="machineForm">
                        <label><b>CreatedBy :</b></label>&nbsp;
                        <label> {{CreatedBy}}</label>
                     </div>
                  </div>
                  <!---->
               </div>
            </div>
         </div>
         <!---->
      
         <!---->
         
         <!---->
      </div>
      <!---->
   </div>
</div>
<!---->