<section class="privacy-wrapper">
  <app-admin-header [showProfile]="showProfile"></app-admin-header>
  <div class="privacy-content">
    <h1>Privacy & Policy</h1>
    <p>
      BARQ Electric Center About Your Information Privacy So please read our privacy policy carefully to get a clear
      understanding of how we collect, use & protect your personal information on our website. What personal information
      do we collect from the people that visit our blog, website or app? When ordering or registering on our site, as
      appropriate, you may be asked to enter your name, email address, phone number, or other details to help you with
      your experience. When do we collect information? We collect information from you when you fill out a form or enter
      information on our site. How do we use your information? We may use the information we collect from you when you
      register, surf the website, or use certain other site features.
    </p>
    <h3>Cookies</h3>
    <p>Cookies are small pieces of textor file sent to your browser by a website you visit. These are sent
      to your browser from the websites that you visit and are stored all on your device’s internal memory that is easy
      to visit again and again.
      <br>
      This Service does not use these “cookies” explicitly. However, the app may use third-party code ,libraries that
      use
      “cookies” to collect the information , improve the services. You have the option to either accept or decline these
      cookies and know when a cookie is being sent to your device. If you choose to decline our cookies, you may not be
      able
      to use some parts of this Service.
    </p>
    <h3>Changes to This Privacy Policy</h3>
    <p>We may update our Privacy Policy from day by day. Thus, you are advised to review this page periodically for any
      changes. We will inform you of any changes by posting the new Privacy Policy on this page.</p>
    <h3>Security</h3>
    <p>We value your trust in providing us your Personal Data, thus we are striving to use economic acceptable
      means of keep safe it. But remember that no method of dispatch over the internet or server, or method of
      electronic storage
      is 100% secure, and we cannot assurances its perfect security.</p>

    <h3>Contact Us</h3>
    <p>If you have any queries and suggestions about our Privacy Policy, do not hesitate to contact us </p>
  </div>
  <app-admin-footer></app-admin-footer>
</section>