<app-admin-header [showProfile]="showProfile"></app-admin-header>
<section class="supportWrapper">
  <div class="supportBody">
    <div class="supportContent">
      <h1>Connect to Support Team</h1>
  
      <p class="mb-4 mt-4">We believe that the key to a successful partnership is unwavering
        support and seamless communication. We would like to hear from
        you to serve you better. Contact the admin </p>

      <h5 class="mb-2">Contact Details</h5>
      <ul>
        <li><strong>Email:</strong> faisal.elasmar@bec.engineering</li>
        <li><strong>Contact No:</strong> 00-966-594456655</li>
      </ul>

    </div>
  </div>
</section>
<app-admin-footer></app-admin-footer>
