.footer{
    background-color: #e8e9ed;
    padding: 12px;
    color: #212121;
    width: 100%;
    p{
        text-align: center;
        font-size: 14px;
        line-height: 16px;
    }
}
