<div class="br-mainpanel" style="position: relative;">
    <div class="br-pagebody">
      <div class="row row-sm">
        <!---->
        <div class="machineBgBreadcrumb">
          <div class="errorClass">
            <div class="errorClassInner">
              <div class="errorClassMainDiv">
                <h1>Unauthorised!</h1>
                <p>Sorry,you are not authenticated to access this page</p>
                <!-- <a href="javascript:void(0)" class="button" (click)="goBack()">Back</a> -->
                <a class="btn-gradient blue"  href="javascript:void(0)" (click)="goBack()">Go back</a>
              </div>
            </div>
          </div>
        </div>
        <!---->
      </div>
    </div>
  </div>